.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  margin: 0 0 30px 0;
}
.search-bar:focus,
.search-button:focus {
  outline: none;
}
.search-bar:hover {
  background-color: rgb(236, 239, 243);
}
.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  margin: 0 0 30px 0;
}

.search-button:hover {
  color: rgb(236, 239, 243);
  background: rgb(241, 109, 109);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
